body {
    width: 100%;
    height: 100%;
}

/* NAV */
.navbar-brand {
    font-size: 1.7em !important;
    margin-left: 1vw;
}

.nav-link {
    font-size: 1.3em !important;
}

.nav-item {
    padding: 0.3vw !important;
}

.nav-item:first-child {
    margin-left: 5vw;
}
/* NAV POSITIONING */
.ml-auto {
    margin-right: 3.5%;
  }

.nav-link > i {
    display: inline-block;
}

/* NAV HOVER */
li a {
    position: relative;
    color: #24292D;
    text-decoration: none;
  }

  li > a:hover {
    color: #24292D;
    cursor: pointer;
  }

li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #24292D;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  /* NAV LOGIN FORM' */
  button:focus {
    outline: 0;
}

#dropdownMenu1 {
  font-size: 1.1em !important;
}


  /* NAV MULTILEVEL RESPONSIVE*/
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

  /* CARDS */

.card {
    width: 18rem;
    margin-top: 5em;
    width: 40vw;
    border: 0 !important;
    border: 2px dashed var(--dark) !important;
}

.card-body {
    width: 40vw;
    margin-top: -1%;
}


/* TIMELINE */

:root {
	--white: #ffffff;
	--black: #000000;
    --dark: #343a40; 
	--gray: #a6a6a6;
	--box-shadow1: 0px 0px 18px 2px rgba(10, 55, 90, 0.15);
}

.timeline {
    padding: 50px 0;
    position: relative;
    margin-top: 7%;  
  }
.timeline-nodes {
        padding-bottom: 25px;
        position: relative;
    }
.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline h3, .timeline p {
    padding: 5px 15px;
} 
.timeline h3{
    font-weight: lighter;
    background: var(--dark);
}
.timeline p, .timeline time {
    color: var(--dark)
}
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed var(--dark);
    height: 100vw;
    margin-top: -7%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-content {
    border: 3px solid var(--dark);
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2)
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}
 
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 100%;
    width: 0;
    border-left: 10px solid var(--dark);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--dark);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-image {
    position: relative;
    z-index: 100;
}
.timeline-image::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px dashed var(--dark);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 1;
}

.timeline-image img {
    position: relative;
    z-index: 100;
}

/* SMALL DEVICES */

@media (max-width: 767px) {
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
    text-align: left
}
.timeline-nodes:nth-child(even) {
    flex-direction: row;
}
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px dashed var(--dark);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline h3 {
    font-size: 1.7rem;
}
.timeline p {
    font-size: 14px;
}
.timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid var(--dark);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--dark);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
}
.timeline-image::before {
    width: 65px;
    height: 65px;
}
}

/* EXTRA SMALL DEVICES */
@media (max-width: 575px) {
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
}
.timeline-image {
    position: absolute;
    left: -5%;
    }
.timeline-image::before {
    width: 60px;
    height: 60px;
}
}


/* TIME H4*/
.timeArticleR {
    color: var(--gray);
    text-align: right;
    margin-right: 2vh;
}




/* ANIMATIONS FOR TIMELINE */

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  }

.two {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  }
    
.three {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
  }

.four {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2;
  animation-delay: 2s;
  }


.five {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2  .5s;
  }